*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #636363;
  font-family: "Roboto", sans-serif;
  /* scroll-behavior: smooth; */
}
/* GLOBAL */
.container {
  width: 1199px;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: white;
  border: 1px solid transparent;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  background-position: right center;
}
.title p {
  font-weight: 600;
  font-size: 22px;
  color: #f55f8d;
}
.title h2 {
  font-size: 70px;
  font-weight: 800;
  line-height: 1.1;
  color: #262626;
  margin: 20px auto;
}
:root {
  --animate-duration: 2s;
}
/* HEADER  */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content nav {
  display: flex;
  align-items: center;
}

.header__content ul {
  display: flex;
  margin-right: 30px;
}
.header__content li {
  padding: 55px 15px;
}

.header__content a {
  color: #070120;
  font-size: 15px;
  font-weight: 505;
  text-transform: capitalize;
  transition: all 0.3s;
}
.header__content li:hover a {
  color: #f55f8d;
}
.header__content a span {
  display: inline-block;
  /* transition: all 1s; */
}
.header__content li:hover span {
  animation: upToDown 0.3s;
}

.header__content i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}

/* CAROUSEL  */
.carousel {
  padding-top: 180px;
  background-image: url(../img/pic2.png);
  background-size: 100%;
  background-position: top;
}
.carousel__content {
  display: flex;
  align-items: center;
}
.carousel__left {
  width: 60%;
}
.carousel__left .carousel__article p {
  font-size: 18px;
}
.carousel__left .carousel__article ul {
  margin: 15px auto 20px;
}
.carousel__left .carousel__article li {
  padding: 10px 0;
  font-size: 20px;
}
.carousel__left .carousel__article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  margin-right: 10px;
  color: white;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  border-radius: 50%;
  background-size: 200%;
}

.carousel__right {
  width: 40%;
}
.carousel__right img {
  width: 570px;
  margin-left: 50px;
}

/* SERVICES  */
.services {
  padding-top: 115px;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.services__content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.services__item {
  padding: 30px 45px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
.services__item:hover {
  transform: translateY(-20px);
}

.services__item img {
  width: 215px;
}
.services__item h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  margin: 15px 0;
}

/* ABOUT US  */
.aboutUs {
  padding-top: 115px;
  padding-bottom: 85px;
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center right;
}
.aboutUs__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.aboutUs__left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.aboutUs__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.aboutUs__right {
  width: 50%;
}

.aboutUs__article ul {
  margin-top: 15px;
  margin-bottom: 30px;
}
.aboutUs__article i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
  border-radius: 50%;
}

/* NUMBER  */
.number {
  padding: 80px 0px 50px;
  background-image: url(../img/number.png);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 0 50px;
}
.number__content {
  display: flex;
  justify-content: space-around;
}
.number__item {
  width: 25%;
}
.number__item i {
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 50%;
  color: white;
  display: inline-block;
  margin-bottom: 15px;
}
.number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
}

/* FEATURE  */
.feature {
  padding-top: 115px;
  background-image: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.feature__content {
  display: flex;
}
.feature__left {
  width: 50%;
}

.feature__item {
  padding: 0 50px 30px 0;
}
.feature__item:nth-child(2) {
  padding: 0 0 30px 50px;
}
.feature__card {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  position: relative;
  overflow: hidden;
}

.feature__card::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
}
.feature__card:hover::after {
  opacity: 1;
}

.feature__card i {
  font-size: 80px;
  font-weight: 1;
  color: #f55f8d;
  line-height: 1;
  z-index: 1;
  transition: all 1s;
}
.feature__card h3 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #262626;
  transition: all 1s;
}
.feature__card__content {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}

.feature__card:hover .feature__card__content,
.feature__card:hover h3,
.feature__card:hover i {
  color: white;
}
.feature__right {
  width: 50%;
}
.feature__banner {
  margin-right: -80px;
}
.feature__banner img {
  max-width: 100%;
  animation: move2 5s infinite;
}

/* FORTFOLIO */
.portfolio {
  padding-top: 115px;
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.portfolio__item:hover::before {
  left: 125%;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
}
.portfolio__item1,
.portfolio__item6 {
  grid-column: 1 / span 2;
}
.portfolio__item5 {
  grid-column: 3/4;
  grid-row: 2 / span 2;
}
.portfolio__overlay {
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
  position: absolute;
  top: 0;
  left: 0;
}
.portfolio__overlay a {
  cursor: pointer;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}
.portfolio__overlay .portfolio__icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 0.75s;
  transform: translate(20px, -20px);
}
.portfolio__item:hover .portfolio__overlay .portfolio__icon {
  transform: translate(0);
}
.portfolio__overlay .portfolio__text {
  text-align: left;
  position: absolute;
  bottom: 30px;
  left: 30px;
  transition: all 0.75s;
  transform: translateY(150px);
}
.portfolio__item:hover .portfolio__overlay .portfolio__text {
  transform: translateY(0);
}
.portfolio__overlay .portfolio__text h3 {
  font-size: 22px;
  font-weight: 800;
}
.portfolio__overlay .portfolio__text p {
  opacity: 0.7;
}
.lg-show-in .lg-prev,
.lg-show-in .lg-next {
  background-image: none;
}
/* yourPlan  */
.yourPlan {
  padding-top: 115px;
  background-image: url(../img/blog_bg.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}

.yourPlan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.yourPlan__item {
  padding: 35px 60px;
  background-color: white;
  border-radius: 8px;
  border: 3px solid transparent;
  box-shadow: 1px 0 50px rgb(0, 0, 0, 0.1);
  border-image: 100 round;
  transition: all 0.5s;
}
.yourPlan__item:hover {
  border-image: url(../img/border.png) 1 round;
}
.yourPlan__item h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #262626;
}
.yourPlan__item img {
  width: 125px;
}
.yourPlan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.yourPlan__item p {
  font-size: 18px;
  font-weight: 600;
  color: #262626;
}
.yourPlan__item span {
  font-size: 50px;
  font-weight: 800;
  color: #f8ae56;
}
.yourPlan__item li {
  padding: 5px 0;
  font-weight: 400;
  font-size: 18px;
  color: #262626;
}
.yourPlan__item i {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  color: #f55f8d;
  background-color: #feeff3;
  margin-right: 15px;
  border-radius: 50%;
}

/* Testimonial  */
.testimonial {
  padding-top: 115px;
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.testi__content {
  min-height: 300px;
}
.testi__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testi__thumbs::after,
.testi__thumbs::before {
  content: "";
  width: 30px;
  top: 0;
  height: 100%;
  z-index: 2;
  position: absolute;
}
.testi__thumbs::before {
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testi__thumbs::after {
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testi__pic img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  background-color: #f55f8d;
  z-index: 2;
  position: relative;
}
.testi__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
}
.testi__pic::after,
.testi__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testi__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}

.testi__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0;
}
.swiper-slide-thumb-active .testi__pic::after,
.swiper-slide-thumb-active .testi__pic::before {
  opacity: 1;
}
.testi__thumbs .testi__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testi__thumbs .swiper-slide-thumb-active .testi__pic {
  padding: 0 0 40px;
}
.shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d;
}
.swiper-slide-thumb-active .testi__pic .shape-bx {
  opacity: 1;
}
.testi__comment {
  overflow: hidden;
  min-height: 300px;
  width: 100%;
}
.testi__comment .swiper-wrapper {
  padding-bottom: 20px;
}
.swiper-slide {
  width: 1199px;
  margin-right: 10px;
}
.testi__text {
  position: relative;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  max-width: 770px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}
.swiper-pagination-bullet-active {
  background: #f55f8d;
}
.testi__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testi__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.testi__name {
  font-size: 22px;
  font-weight: 800;
  line-height: 26px;
  color: black;
  margin-bottom: 5px;
}
.testi__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0;
}
/* blog  */
.blog {
  padding: 115px 0 50px 0;
  background-image: url(../img/blog_bg.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.blog__content {
  display: flex;
}
.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}
.blog__item__header {
  width: 100%;
  position: relative;
}
.blog__item__header img {
  width: 100%;
  border-radius: 8px;
}
.blog__item__header p {
  color: white;
  font-size: 14px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  position: absolute;
  left: 15px;
  bottom: -20px;
}
.blog__item__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog__item__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.blog__item__footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}
.blog__item__footer p:first-of-type {
  margin-right: 20px;
}
.blog__item__footer span {
  color: #f55f8d;
}
.blog__item__footer i {
  color: #f55f8d;
  font-size: 22px;
  vertical-align: sub;
}
/* footer  */
footer {
  background-image: url(../img/bg4.png);
  background-color: #0e1b1f;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-size: 15px;
  height: auto;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__top {
  padding: 50px 60px;
  display: flex;
  background-color: white;
  background-image: url(../img/pattern3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.footer__text,
.footer__form {
  width: 50%;
}
.footer__text h2 {
  font-size: 28px;
  color: #262626;
}
.footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
}
.footer__form input {
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background-color: white;
  border-radius: 0.5rem 0 0 0.5rem;
  flex: 1 1 auto;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.5s;
}
.footer__form input:hover,
.footer__form input:focus {
  border-color: #f55f8d;
}

.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.footer__form button:hover {
  background-position: right center;
}
.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
}
.footer__item li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.footer__item i {
  margin-right: 10px;
  font-weight: 700px;
}
.footer__form button:hover i {
  animation: toLeftFromRight 0.5s forwards;
  display: inline-block;
}

.footer__contact i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 50%;
}
.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
}

.footer__item h3::before,
.footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer__item h3::before {
  width: 15px;
}
.footer__item h3::after {
  width: 45px;
  left: 20px;
}
.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}
.footer__item a:hover {
  color: white;
}
.footer__copyright {
  padding: 10px 0;
  background-color: #1f343b;
  position: relative;
}
.footer__copyright .container {
  display: flex;
  justify-content: space-between;
}
.footer__copyright__left span {
  color: #f55f8d;
}
.footer__copyright__right a {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 50%;
}
.footer__copyright__right a:hover {
  background-color: #f55f8d;
}
/* backToTop */
.backToTop {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f55f8d;
  border-radius: 8px;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  color: white;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 0.5;
}

.cd-top--fade-out {
  opacity: 1;
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes move2 {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%);
  }

  51% {
    opacity: 1;
  }
}
